[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status
[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
  tool = bcompare
[difftool]
  prompt = false
[difftool "bcompare"]
  trustExitCode = true
  cmd = "/usr/bin/bcompare" \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = bcompare
[mergetool]
  prompt = false
[mergetool "bcompare"]
  trustExitCode = true
  cmd = "/usr/bin/bcompare" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
